<a href="https://colab.research.google.com/github/organisciak/Scripting-Course/blob/master/labs/08-lab-regular-expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 8: Regular Expressions

In [3]:
import re
import pandas as pd

Here is a synopsis of the best film of our time, *Paddington*:

In [1]:
synopsis = '''After a deadly earthquake destroys his home in Peruvian rainforest, a young bear (Ben Whishaw) makes his way to England in search of a new home. The bear, dubbed "Paddington" for the london train station, finds shelter with the family of Henry (Hugh Bonneville) and Mary Brown (Sally Hawkins). Although Paddington's amazement at urban living soon endears him to the Browns, someone else has her eye on him: Taxidermist Millicent Clyde (Nicole Kidman) has designs on the rare bear and his hide.'''
synopsis

'After a deadly earthquake destroys his home in Peruvian rainforest, a young bear (Ben Whishaw) makes his way to England in search of a new home. The bear, dubbed "Paddington" for the london train station, finds shelter with the family of Henry (Hugh Bonneville) and Mary Brown (Sally Hawkins). Although Paddington\'s amazement at urban living soon endears him to the Browns, someone else has her eye on him: Taxidermist Millicent Clyde (Nicole Kidman) has designs on the rare bear and his hide.'

For these questions, use `re.findall(pattern, text)`, like so:

In [ ]:
re.findall('[A-Z]....\s', synopsis)

['After ', 'Henry ', 'Brown ', 'Sally ', 'Clyde ']

### Example Question

- Q0.0: Write the regular expression to find all three or four-letter words:

In [5]:
#@markdown Run this cell to see if it works
q0_answer = '\s\w\w\w\w?\s'    #@param {type:'string'}
re.findall(q0_answer, synopsis)

[' his ',
 ' bear ',
 ' his ',
 ' new ',
 ' The ',
 ' for ',
 ' with ',
 ' and ',
 ' soon ',
 ' him ',
 ' the ',
 ' else ',
 ' her ',
 ' has ',
 ' the ',
 ' bear ',
 ' his ']

## Questions #1: Matching Characters (20 pts)

- Q1a: Write a regular expression to match all three-character words surrounded by spaces. You need to change the answer in the form field and run it to see if it works. (5pts)

In [ ]:
#@markdown *Run this cell to see if it works*
q1a_answer = ''    #@param {type:'string'}
re.findall(q1a_answer, synopsis) # This runs your pattern

- Q1b: Write a regular expression to match all three-character words, allowing for instances like `(Ben` and `him:`.  (5pts)

In [ ]:
#@markdown *Run this cell to see if it works*
q1b_answer = ''    #@param {type:'string'}
re.findall(q1b_answer, synopsis)

- Q1c: Write the regular expression to determine how many times the words `the` or `The` show up.  (5pts)

In [ ]:
q1c_answer = ''  #@param {type:'string'}
matches = re.findall(q1c_answer, synopsis)
print(matches)
print("Count", len(matches))

- Q1d: Write a regular expression to find the context at the end of a sentence: the five characters leading up to the period. Results should be `[' home.', 'kins).', ' hide.']`  (5pts)

In [ ]:
q1d_answer = ''  #@param {type:'string'}
re.findall(q1d_answer, synopsis)

## Questions #2: Repeating Patterns (36 pts)

*Full Reference*

**Matching characters**
- `a` - Match the letter `a`. Same for most other characters
- `.` - Match any single character
- `\w` - Match any word character (letters, number... support for non-English characters varies)
- `\W` - Match any non-word characters
- `\d` - Match any digit
- `.` - Matches *any* character
- `\.` - Matches a literal period (or `\\` matches literal backslash, `\(` matches literal parenthesis, etc)
- `\s` - Match any whitespace character (space, tabs, line breaks sometimes)

**Multiple Matches**
- `[ab]` - Group of multiple possible characters - in this case `a` or `b`
- `[a-z]` matches any character from a to z
- `[A-Z]` matches any character from A to Z
- `[A-Zab]` matches any character from A to Z (`A-Z`), *or* `a` *or* `b`

**Repeating**

*'greedy' means that it captures as much as it can, 'lazy' means it captures as little as possible.*
`?` - One or zero of the preceding match
- `+` - One or more of the preceding match (greedy)
- `*` - Zero or more of the preceding match (greedy)
- `*?`, `+?`  - Lazy versions of `*` and `+`

**Position**
- `^` - Start of line
- `$` - End of line

*Questions*

- Q2a: Write the expression that matches the period at the end of a sentence and the first word of the next sentence. The matches should be: `['. The', '. Although']` (6 pts)

In [ ]:
q2a_answer = ''  #@param {type:'string'}
re.findall(q2a_answer, synopsis)

- Q2b: Write the expression to match the two words following the word `a`. The results should be `['a deadly earthquake', 'a young bear', 'a new home']` (6 pts)

In [ ]:
q2b_answer = ''  #@param {type:'string'}
re.findall(q2b_answer, synopsis)

- Q2c: Write the expression to match all words with an `'s`. In this case, `Paddington's` is the only match.  (6 pts)

In [ ]:
q2c_answer = ''  #@param {type:'string'}
re.findall(q2c_answer, synopsis)

- Q2d: Write the expression to match all values in parentheses. The results should be `['(Ben Whishaw)', '(Hugh Bonneville)', '(Sally Hawkins)', '(Nicole Kidman)]'` (6 pts)

In [ ]:
q2d_answer = ''  #@param {type:'string'}
re.findall(q2d_answer, synopsis)

- Q2e: Write the expression to match all capitalized words, including `Paddington's`. (6 pts)

In [ ]:
q2e_answer = ''  #@param {type:'string'}
re.findall(q2e_answer, synopsis)

- Q2f: Write the expression to match all pairings of capitalized words, like `Mary Brown` and `Although Paddington`. (6 pts)

In [ ]:
q2f_answer = ''  #@param {type:'string'}
re.findall(q2f_answer, synopsis)

## Other Python Regular Expression Functions

**Replace a pattern**:
    
```
re.sub(pattern, repl, string)
```

This replaces the pattern matches with whatever string you provide to `repl`.

**Check a match**:
    
```
regex.search(string)
```

This doesn't return anything if there are no matches, so it's useful for asking, "is there a match or not?"

## Pandas

Load the following data into a DataFrame, containing the tweets of Lord_Voldemort7:

In [ ]:
tweets = pd.read_csv('https://raw.githubusercontent.com/organisciak/Scripting-Course/master/data/voldemort_tweets.csv')
tweets.head()

                   id  ...  is_quoted
0  903664289411686400  ...      False
1  901217559860703234  ...      False
2  879505014422740994  ...      False
3  818293342622650368  ...      False
4  815434344357625856  ...      False

[5 rows x 6 columns]

String actions on a DataFrame column (that is, a Series) are accessed with:

```
df['columnName'].str
```

For matching on regular expressions, you can use `.str.contains()`. For examples:

In [ ]:
matches = tweets['text'].str.contains('dead')
tweets[matches].sample(4)

                      id  ...  is_quoted
721   300324033327661056  ...      False
549   331832894916026369  ...      False
2172  133699908418019328  ...      False
1846  160917485812584448  ...      False

[4 rows x 6 columns]

*Tip*: The tweet text will be cutoff by default when print. You can change the width of columns to show the entire tweet with the following code:

In [ ]:
pd.set_option("display.max_colwidth", 160)

## Questions 3 (24pts)

*Unless otherwise specified, return all columns when asked to return tweets; e.g. don't remove the id or retweets columns.*

- Q3a. Write the pattern to find all the tweets that mention "Harry Potter". (4 pts)

In [ ]:
q3a_answer = ''  #@param {type:'string'}
matches = tweets['text'].str.contains(q3a_answer)
tweets[matches]

- Q3b. Write the pattern to return the tweets that have a hashtag (assuming only word characters in hashtags). There should be 1432 rows. (6 pts)

In [ ]:
q3b_answer = ''  #@param {type:'string'}
matches = tweets['text'].str.contains(q3b_answer)
tweets[matches]

- Q3c. Write the pattern to return the tweets that have at least *two* hashtags (assuming only word characters in hashtags). There should be 190 rows. (8 pts)

In [ ]:
q3c_answer = '' #@param {type:'string'}
matches = tweets['text'].str.contains(q3c_answer)
tweets[matches]

- Q3d. Write the pattern to return the tweets that mention a year in the current millenium (or something that looks like one). (6 pts)

In [ ]:
q3d_answer = '' #@param {type:'string'}
matches = tweets['text'].str.contains(q3d_answer)
tweets[matches]

## Some more Pandas string methods

Counting matches in a column:

```
df['columnName'].str.count(pat)
```

Replacing a pattern with a string:

```
df['columnName'].str.replace(pat, repl)
```

## Questions 4: Other string methods and non-regex Pandas practice (20 pts)

- Q4a Return the 20 tweets with the most favourites. (5 pts)

In [ ]:
# Answer-Q4a

- Q4b How many total favourites do this account's first 100 tweets ever have? (5 pts)

In [ ]:
q4b_answer = "" #@param {type:'string'}

- Q4c What is the id of the tweet matching the following criteria: has the lowest retweet-to-favourites ratio, among tweets *without hashtags* and *with more than 1000 favourites*. (10pts)

In [ ]:
q4c_answer = "" #@param {type:'string'}

## Submission Instructions

Only one person from your group needs to submit the assignment.

In [ ]:
#@markdown ### Enter your group member names for grading
my_name = "" #@param { type:'string' }

#@markdown _Have you saved your work for yourself? Don't forget to Save a Copy in Drive so that you have your progress._